{% extends 'base.jinja2' %}

{% block subtitle %}Donation Report{% endblock subtitle %}

{% block content %}
<ul>
    {% for donation in donations %}
        <li><b>{{ donation.donor.name }}</b>: {{ donation.count }}, {{ donation.total }}, {{ donation.average }}</li>
    {% endfor %}
</ul>
{% endblock content %}
